<ui-view name="map" class="map"></ui-view>
<div ng-show="!vm.node" >
  <ui-view name="search" ></ui-view>
</div>
<div class="panel panel-slide tfade" ng-show="vm.node"  
ng-class="{
'panel-collapsed': !vm.panelVisible,
'panel-editing': vm.editing
}" 
>
  <ui-view name="search" ng-if="!vm.editing"  ></ui-view>

  <div class="panel-toggle-button-container"> 
    <button 
      class="panel-toggle-button ion-arrow-left-b" 
      ng-click="vm.togglePanel()">
    </button> 
  </div>
  <node-image url="vm.node.image.full.url">
  </node-image>
 
  <ui-view name="panel"></ui-view>
</div>


