  <div style="position: absolute; left: 0px; top: 0; width: 1300px;">
            <div ui-view="query" ></div>
            <div ui-view="queryResults" ></div>
        </div>

<!-- drag handle to allow horizontal resizing -->
<div draggable class="dragHandle" style="left: 1320px;top:0; height: 1500px;z-index:100"></div>

<div style="position: absolute; left: 1330px; width: 500px; height: 1500px;">
    <div class="grad1" style="height:200px">
            <div ui-view="nodeSearch" ></div>
            <div ui-view="nodeHeader" ></div>
            <div ui-view="edgeHeader" ></div>
    </div>
        <div ui-view="node" ></div>
        <div ui-view="edge" ></div>
    
</div>