{ "extends": "eslint-config-airbnb-base",
  "env": {
    "browser": true,
    "node": false,
    "mocha": true
  },
  "rules": {
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 2,
    "comma-dangle": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-alert": 0,
    "no-param-reassign": 0,
    "quote-props": 0,
    "max-len": 0,
    "padded-blocks": 0,
    "func-names": 0,
    "key-spacing": 0
  },
  "plugins": [
    "import","babel"
  ],
  "globals":{
    "angular": true,
    "vis":true,
    "$":true
  }
  ,
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  }
}
