<div class="clearfix header-container">
  <div class="header pull-left">
    {{vm.node.isPicture() ? vm.node.title: vm.node.label}}
  </div>

 <div class="pull-right"  >
   <!--
    <div style="float: right; margin-right: 20px; margin-top: 10px; color: #999999">
      id: {{vm.node.id}} 
      <span ng-show="vm.node.created">created: {{vm.node.created | date:'dd/MM/yyyy'}}</span>
    </div>
    -->

  
        <button class="btn ion-checkmark-round" ng-click="vm.save()" ng-disabled="nodeForm.$invalid"></button>
        <button class="btn pull-right ion-close-round" ng-click="vm.cancel()"></button>
 
    <div ng-show="vm.node.id ===-1" >
        <button class="btn btn-success" ng-click="vm.save()" ng-disabled="nodeForm.$invalid">Create</button>
    </div>
  </div>
</div>
