<graph 
  data="vm.data"
  on-select="vm.onGraphSelect(node, edges)">
</graph>
<div class="panel panel-slide-right"
  ng-class="{
  'panel-collapsed': !vm.selectedNode
  }"
>
  <div class="tfade" ng-show="vm.selectedNode">
    <node-image-display url="vm.selectedNode.image.full.url">
    </node-image-display>
    
    <node node="vm.selectedNode" editing="false" />
    
    <div>
      <button class="btn btn-primary"  ng-click="vm.goToSelected()">Go to {{vm.selectedNode.label || vm.selectedNode.lookup  | startcase}}</button>
    </div>
  </div>
  <div class="tfade"  ng-show="vm.selectedEdges.length">
    <div ng-repeat="edge in vm.selectedEdges">
      {{edge.start.label || edge.start.lookup | startcase}}
      <span style="color: #999999">{{edge.type | lowercase}}</span>
      {{edge.end.label || edge.end.lookup | startcase}}
    </div>
  </div>
</div>

<ul class="graph-types">
 <!-- <li><button ng-click="vm.graphql()">GraphQL</button></li>-->
  <li ng-repeat="map in vm.maps" ng-click="vm.selectedMap = map" ng-class="{selected: vm.selectedMap === map}">
    {{map.name}}
  </li>
</ul>
