<graph 
  data="vm.data"
  on-select="vm.onGraphSelect(node, edges)">
</graph>
<div class="graph-preview">
  <div class="tfade" ng-show="vm.selectedNode">
    <div class="header">
      {{vm.selectedNode.label | startcase}}
    </div>
    <div>
      <p>{{vm.selectedNode.description}}</p>
      <p>{{vm.selectedNode.text}}</p>
    </div>
    <div>
      <button class="btn btn-primary"  ng-click="vm.goToSelected()">Go to {{vm.selectedNode.label | startcase}}</button>
    </div>
  </div>
  <div class="tfade"  ng-show="vm.selectedEdges.length">
    <div ng-repeat="edge in vm.selectedEdges">
      {{edge.start.label | startcase}}
      <span style="color: #999999">{{edge.type | lowercase}}</span>
      {{edge.end.label | startcase}}
    </div>
  </div>
</div>
<ul class="graph-types">
  <li ng-repeat="map in vm.maps" ng-click="vm.selectedMap = map" ng-class="{selected: vm.selectedMap === map}">
    {{map.name}}
  </li>
</ul>
