<div ng-form name="nodePropertiesForm" class="properties">
 
  <div class="row">
   

    <div class="col-xs-12 form-group">
      <label>Labels</label>
      <div 
        node-array 
        items="vm.node.labels" 
        directbinding="false" 
        onselected="vm.setType(item)" 
        vm.node="vm.node" 
        width="100%">
      </div>
    </div>
   
     <div class="col-xs-4 form-group">
      <label>Type</label>
      <typeahead 
        class="input-small" 
        choice="vm.node.type" 
        restrict="Type" 
        placeholder="Type..." 
        required>
      </typeahead>

    </div>

    <div ng-repeat="(key, value) in vm.node.type.props" 
      class="form-group" 
      ng-class="{
      'col-xs-3':  value.type==='number',
      'col-xs-4':  value.type==='string' && value.maxLength <= 50,
      'col-xs-8': (value.type==='string' && !value.maxLength) || (value.maxLength > 50 && value.maxLength <200),
      'col-xs-12': (value.type=='string' && value.maxLength >= 200)
      }"
      ng-if="!value.readonly"
      >
      <label>{{key | startcase}}</label>

      <input ng-if="(value.type==='string' && (value.maxLength <=200 || !value.maxLength))"  
          name="{{key}}" 
          class="form-control" 
          type="text" 
          ng-model="vm.node[key]"
          ng-pattern="value.pattern"
          />

      <textarea ng-if="value.type==='string' && value.maxLength > 200"  
          name="{{key}}" 
          class="form-control" 
          type="text" 
          ng-model="vm.node[key]"
          ng-pattern="value.pattern"
          ></textarea>

      <input ng-if="value.type==='number'"  
          name="{{key}}" 
          class="form-control" 
          type="number" 
          ng-model="vm.node[key]"
          ng-pattern="value.pattern"
          />
        
    </div>
   </div>

</div>



