<!-- node search box-->
<div class="row form-inline">
    <div class="col-xs-5">
        <typeahead choice="vm.node"  placeholder="Search..." clearonselect="true"></typeahead>
    </div>
    <label class="col-xs-4 checkbox-inline">
        <!-- add to graph checkbox - adds node to active graph on selection-->
        <input type="checkbox" ng-model="vm.addToGraphOnLookup" />Add to graph
    </label>
    <div class="col-xs-3">
        <!-- new node button -->
        <button style="float: right" class="btn btn-default" ng-click="vm.newNode()">New Node...</button>
    </div>
</div>