<div ng-form name="edgeForm" >

  <div style="float: left; width: 125px">
    <label>From</label>
    <input type="text" class="input-small" value="{{vm.edge.start.lookup}}" disabled>
  </div>

  <div style="float: left; width: 250px">
    <label>Predicate</label>
    <typeahead placeholder="Predicate..." choice="predicateType" restrict="Predicate"></typeahead>
  </div>

  <div style="float: left; width: 125px">
    <label>To</label>
    <input type="text" class="input-small" value="{{vm.edge.end.lookup}}" disabled>
  </div>


  <div style="margin-top: 20px; margin-bottom: 20px">
    <div style="float: left; width: 125px">
      <label>Weight</label>
      <input type="text" class="input-small" ng-model="vm.edge.properties.weight" />
    </div>
    <div style="float: left; width: 456px">
      <label>Text</label>
      <textarea style="width: 456px; height: 40px" ng-model="vm.edge.properties.text" />
    </div>
  </div>

  <div style="float: left; clear: left; width: 540px; margin-bottom: 30px; margin-top: 10px;">
    <div ng-show="vm.edge.id">
      <button class="btn" ng-click="vm.save()">Save</button>
      <button class="btn" ng-click="vm.del()">Delete</button>
    </div>
    <div ng-show="!vm.edge.id">
      <button class="btn" ng-click="vm.save()">Create</button>
    </div>
  </div>
</div>
