<graph node="vm.node" 
  on-selection-changed="vm.graphSelectionChanged(node, edges)"
  on-node-activated="vm.nodeActivated(node)"
  class="map"
  />
<button ng-show='vm.leftPanelFull || vm.rightPanelHalf' class="btn btn-close-pictures io-close-round" 
  ng-click='vm.closePictures()'></button>

<div class="panel panel-slide-left" 
    ng-class="{
    'panel-collapsed': !vm.leftPanelVisible,
    'panel-editing': vm.leftPanelEditing,
    'panel-empty': !vm.node.id ,
    'panel-tabs-active' :vm.nodeActiveTab != undefined,
    'panel-half' : vm.leftPanelHalf,
    'panel-wide' : vm.leftPanelWide,
    'panel-full' : vm.leftPanelFull,
    'panel-no-shadow': vm.panelNoShadow
    }">
    
  <search on-selected="vm.loadNode(node)"  >

     <button 
        class="btn ion-arrow-swap" 
        ng-click="vm.swapNodes()">
      </button> 
      <button 
      class="btn ion-eye" 
      ng-click='vm.viewPictures()'>
      </button>

  </search>

  <div class="panel-toggle-button-container"> 
    <button 
      class="panel-toggle-button ion-arrow-left-b" 
      ng-click="vm.toggleLeftPanel()">
    </button> 
  </div>

  <node-image-display url="vm.nodeImageUrl">
  </node-image-display>


  <ui-view name="leftpanel"></ui-view>
  
</div>

<div class="panel panel-slide-right" 
    ng-class="{
    'panel-collapsed': !vm.comparison.id,
    'panel-editing': vm.rightPanelEditing,
    'panel-tabs-active' :vm.comparisonActiveTab != undefined,
    'panel-half' : vm.rightPanelHalf,
    'panel-wide' : vm.rightPanelWide,
    'panel-no-shadow': vm.panelNoShadow
    }"
  >

  <search on-selected="vm.loadComparison(node)"  >

      <button 
        class="btn ion-arrow-swap" 
        ng-click="vm.swapNodes()">
      </button> 
      <button 
      class="btn ion-eye" 
      ng-click='vm.viewPictures()'>
      </button>

  </search>


<!--

  <div class="action-box" > 
    <div class="action-box-inner">
      <button 
        class="btn ion-arrow-swap" 
        ng-click="vm.swapNodes()">
      </button> 
      <button 
      class="btn ion-eye" 
      ng-click='vm.viewPictures()'>
      </button>
    </div>
  </div>
-->
  <node-image-display url="vm.comparisonImageUrl">
  </node-image-display>




  <ui-view name="rightpanel"></ui-view>
 
</div>


