    <div  class="properties">

        <div class="row form-group">

            <div class="col-sm-9">
                <label>Labels</label>
                <labels navpath="/label/" labels="node.labels" highlight="{{node.Type}}"></labels>
            </div>

            <!--<div ng-if="node.hasOwnProperty('Type')" class="col-sm-3 form-group">
                <label>Type: {{node.Type}}</label>

            </div>-->

        </div>

        <div class="form-group" ng-if="node.id>-1 && node.Label ">

            <label>Nodes labelled {{node.Label}}</label>
            <div ng-show="node.temp.labelledOverflow">(> 50 overflow)</div>
            <div ng-show="!node.temp.labelledOverflow && !node.temp.labelled.length">(none)</div>
            <labels ng-show="!node.temp.labelledOverflow && node.temp.labelled.length" navpath="/label/" items="node.temp.labelled"></labels>

        </div>

     


        <div class="row form-group" style="clear:both">
            <div ng-repeat="(key,value) in node.temp.relProps">
                <div ng-if="value.predicate.Lookup.toLowerCase()!='created'" style="margin-bottom:5px;" ng-class="{'col-sm-12':value.items.length > 5,'col-sm-6':value.items.length <= 5}">
                    <label>
                        {{value.predicate.Lookup.toLowerCase().replace("_"," ")}}
                    </label>

                    <i class="glyphicon" style="opacity:0.5" ng-show="value.predicate.IsDirectional" ng-class="{'glyphicon-arrow-right':value.predicate.Direction=='out','glyphicon-arrow-left':value.predicate.Direction=='in'}"></i>

                    <labels navpath="/label/" items="value.items"></labels>
                </div>

            </div>

        </div>



        <div ng-if="node.hasOwnProperty('SystemInfo')" class="form-group">
            <label>System Info</label>
            <div>{{node.SystemInfo}}</div>
        </div>


        <div class="row">
            <div ng-if="node.hasOwnProperty('Lookup')" class="col-xs-6 form-group">
                <label>Lookup</label>
                <div>{{node.Type}}:{{node.Lookup}}</div>
            </div>
            <div ng-if="node.hasOwnProperty('Label')" class="col-xs-6 form-group" ng-style="{opacity:node.Label === node.Lookup ? 0.7 : 1}">
                <label>
                    Label
                    <!--<span ng-show="node.Label === node.Lookup">(as lookup)</span>-->
                </label>
                <div>{{node.Label}}</div>
            </div>
        </div>
        <div class="form-group">
            <label>Name</label>
            <div>{{node.Name}}</div>

        </div>



        <div ng-if="node.hasOwnProperty('Description')" class="form-group">
            <label>Description</label>
            <div>{{node.Description}}</div>
        </div>


        <div ng-if="node.hasOwnProperty('Text')" class="form-group">
            <label>Text</label>
            <div>{{node.Text}}</div>
        </div>

        <div class="row">
            <div ng-repeat="(key, value) in node" class="col-xs-6 form-group"
                 ng-if="isAutogeneratedField(key)"
                 ng-switch="key"
                 ng-class="{'col-xs-3' : key==='YearFrom' || key==='YearTo' || key==='Status' }">
                <label>{{key}}</label>
                <div>{{node[key]}}</div>
            </div>
        </div>

        <div ng-if="node.temp.links.length" class="form-group">


            <label>Related web pages</label>
            <div ng-repeat="link in node.temp.links">

                <div>
                    <a href="{{link.Url}}" target="{{link.Name}}">{{link.Name}}</a>
                </div>

            </div>
        </div>

    </div>

