
    <div ng-form  name="nodeForm" class="properties">

       
        <div class="row form-group">

            <div class="col-sm-9">
                <label>Labels</label>
                <div node-array items="node.labels" directbinding="false" onselected="setType(item)" node="node" width="100%"></div>
            </div>

            <div ng-if="node.hasOwnProperty('Type')" class="col-sm-3 form-group">
                <label>Type</label>
                <typeahead name="Type" class="input-small" onselected="setType(item)" watchvalue="node.Type" restrict="Type" placeholder="Type..." required></typeahead>
            </div>

        </div>

        <div  ng-if="node.id>-1 && node.Label ">

            <label>Nodes labelled {{node.Label}}</label>
            <div ng-show="node.temp.labelledOverflow">(> 50 overflow)</div>

            <div ng-show="!node.temp.labelledOverflow" node-array items="node.temp.labelled" width="100%" onselected="publish('selected', { selection: { nodes: [item] } })"></div>

        </div>

    


        <div class="row">
           
                <div ng-repeat="(key,value) in node.temp.relProps" ng-if="value.predicate.Lookup.toLowerCase()!='created'" style="margin-bottom:5px;" ng-class="{'col-sm-12':value.items.length > 5,'col-sm-6':value.items.length <= 5}">
                    <label style="float:left;">
                        {{value.predicate.Lookup.toLowerCase().replace("_"," ")}}
                    </label>
                    <div ng-show="value.predicate.IsDirectional" title="Reverse direction" style="float:right;margin-right:20px" class="hoverOpacity" ng-click="reverseRelprop(value)">
                        <i class="glyphicon" ng-class="{'glyphicon-arrow-right':value.predicate.Direction=='out','glyphicon-arrow-left':value.predicate.Direction=='in'}"></i>
                    </div>
                    <div style="float:left;clear:left;width:100%" node-array items="value.items" node="node" onselected="publish('selected', { selection: { nodes: [item] } })"></div>
                </div>
            <div class="col-xs-6">
                <label style="height:29px;">Add relationship type</label>
                <typeahead style="margin-top:-5px;" class="pull-right" placeholder="New relationship type..."
                           onselected="addRelationship(item)" text="newPredicate" choice="selectedPredicate" restrict="Predicate" clearonselect="true"></typeahead>
            </div>
          

        </div>

     

        <div ng-if="node.hasOwnProperty('SystemInfo')" class="form-group">
            <label>System Info</label>
            <textarea class="form-control" name="SystemInfo" no-bubble ng-model="node.SystemInfo" />
        </div>


        <div class="row">
            <div ng-if="node.hasOwnProperty('Lookup')" class="col-xs-6 form-group">
                <label>Lookup</label>
                <input name="Lookup" class="form-control" type="text" ng-pattern="/^[A-Za-z][A-Za-z0-9-_]*$/" ng-model="node.Lookup" required />
            </div>
            <div ng-if="node.hasOwnProperty('Label')" class="col-xs-6 form-group" ng-style="{opacity:node.Label === node.Lookup ? 0.7 : 1}">
                <label>
                    Label
                    <!--<span ng-show="node.Label === node.Lookup">(as lookup)</span>-->
                </label>
                <input name="Label" type="text" class="form-control" ng-pattern="/^[A-Za-z][A-Za-z0-9-_]*$/" ng-model="node.Label" required />
            </div>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input name="Name" type="text" class="form-control" ng-model="node.Name" />
        </div>



        <div ng-if="node.hasOwnProperty('Description')" class="form-group">
            <label>Description</label>
            <textarea name="Description" no-bubble class="form-control" ng-model="node.Description" />
        </div>


        <div ng-if="node.hasOwnProperty('Text')" class="form-group">
            <label>Text</label>
            <textarea name="Text" no-bubble class="form-control" ng-model="node.Text" />
        </div>

        <div class="row">
            <div ng-repeat="(key, value) in node" class="col-xs-6 form-group"
                 ng-if="isAutogeneratedField(key)"
                 ng-switch="key"
                 ng-class="{'col-xs-3' : key==='YearFrom' || key==='YearTo' || key==='Status' }">
                <label>{{key}}</label>

                <input name="{{key}}" class="form-control" ng-switch-when="YearFrom" type="text" ng-model="node[key]" />
                <input name="{{key}}" class="form-control" ng-switch-when="YearTo" type="text" ng-model="node[key]" />
                <input name="{{key}}" class="form-control" ng-switch-when="Status" type="text" ng-model="node[key]" />
                <input name="{{key}}" class="form-control" ng-switch-default type="text" ng-model="node[key]" />

            </div>
        </div>

        <label>Related web pages</label>
        <div ng-click="node.temp.links.push({Name:'',Url:'',editing:true})" class="hoverOpacity pointer" style="float:right">add web page...</div>

        <div class="row" ng-repeat="link in node.temp.links">

            <div ng-if="link.editing">
                <label>Link name</label>
                <!--<input class="input" type="text"/>-->
                <typeahead-simple class="input" ng-model="link.Name" source="['Main Site', 'Google Art Project','Image Search']"></typeahead-simple>
                <label>Link url</label>
                <input class="input input-large" type="text" ng-model="link.Url" />
                <i class="icon icon-trash pull-right pointer hoverOpacity" style="margin:5px" ng-click="node.temp.links.splice(node.temp.links.indexOf($index),1)"></i>
                <i style="margin:5px" class="icon icon-check pull-right pointer hoverOpacity" ng-click="link.editing=false"></i>

            </div>

            <div ng-if="!link.editing">
                <a href="{{link.Url}}" target="{{link.Name}}">{{link.Name}}</a><i class="icon icon-edit pull-right pointer hoverOpacity" ng-click="link.editing=true"></i>
            </div>

        </div>

        <!--<div class="pull-right">
            <button class="btn btn-default" ng-click="editable=!editable">Cancel Edit</button>
        </div>-->

        <div class="form-group">

            <div style="float: right; margin-right: 20px; margin-top: 10px; color: #999999">id: {{node.id}} <span ng-show="node.created">created: {{node.created | date:'dd/MM/yyyy'}}</span></div>
            <div ng-show="deleted">

                <button class="btn btn-success" ng-click="restoreNode(node)">Restore</button>
                <button style="margin-left: 20px" class="btn btn-danger" ng-click="destroyNode({node:node})">Destroy</button>
            </div>

            <div ng-show="!deleted && node.id >= 0">
                <button class="btn btn-success" ng-click="saveNode(node)" ng-disabled="nodeForm.$invalid">Save</button>
                <button style="margin-left: 20px" class="btn btn-danger" ng-click="deleteNode({node:node})">Delete</button>
            </div>

            <div ng-show="!deleted && node.id ==-1">
                <button class="btn btn-success" ng-click="saveNode(node)" ng-disabled="nodeForm.$invalid">Create</button>
            </div>

          

        </div>

     
    </div>



