<div >
    <div ng-show='error'>{{error}}</div>

    <div style="width:300px;height:200px;padding:20px;overflow-y:auto;border:1px solid #cccccc;border-radius:4px;padding:5px;">
        <div ng-repeat="d in disambiguation" style="cursor:pointer" ng-click="reselect(node,d.mid,d.name)" ng-class="{ 'selected':d.mid==node.FB_ID }">{{d.mid}} - {{d.name}}</div>
  
    </div>
    <div class="form-inline" style="margin-top:10px;width:300px">
        <input type="text" placeholder="Freebase ID" class="input-small" ng-model="d.mid" /><button style="margin-left:5px;" class="btn" ng-click="reselect(node,d.mid)">Override</button>
        <button style="float:right" ng-click="clear(node)" class="btn">Clear</button>
    </div>

    <div >

        <div ng-repeat="(key, value) in node" ng-switch="key" style="float: left; width: 250px;margin-top:10px"
             ng-style="{'width':key ==='FB_blurb' || key==='FB_blurb_full'  ? '456px' : '250px'}"
             ng-if="key.indexOf('FB_') === 0">
            <label><strong>{{key}}</strong></label>
            <div>{{value}}</div>
        </div>

    </div>

</div>


   

  