<div>

    <textarea ng-show="editable" placeholder="Query..." style="height: {{query.generator? 20 : 85}}px;" class="queryInput form-control" ng-model="query.body.q" />

    <div class="form-inline form-group" >
        <select class="form-control" style="float: right" ng-show="query.generators" ng-model="query.generator" ng-options="key for (key,value) in query.generators">
            <option value="">Query generator...</option>
        </select>
        <select  class="form-control" style="float: right;" ng-show="!query.generator && query.presets" ng-model="preset" ng-options="key for (key,value) in query.presets">
            <option value="">Query preset...</option>
        </select>

        <div ng-if="editable" style="float: left">
            <button class="btn btn-default" ng-click="getData()">Submit Query</button>
        </div>
        <div ng-if="view.type=='Graph' && !view.queryGenerator" style="float: left">
            <label style="margin-left: 10px;">
                <input type="checkbox" ng-model="query.connectAll" />Connect all on load
            </label>
            <button class="btn btn-default" ng-click="connectAll()">Connect All</button>
        </div>



        <div ng-switch="query.generator.type">

            <node-filter ng-switch-when="nodeFilter" generated="generated.q" options="query.generator.options" nodechanged="nodeChanged(node)"></node-filter>
            <node-graph ng-switch-when="nodeGraph" generated="generated.q" options="query.generator.options" nodechanged="nodeChanged(node)"></node-graph>
            <favourites-filter ng-switch-when="favouritesFilter" generated="generated.q" options="query.generator.options"></favourites-filter>

        </div>

    </div>

</div>
