<div class="modal-header" >
    <button type="button" class="close ion-close-round" modal-close>
    </button>
    <filter labels="vm.filters" enabled="vm.enabledFilters" on-change="vm.filterChanged(filters)"></filter>
</div>

<div class="modal-body creative-modal" scroll-bottom="vm.getMorePictures()">
   
   <div pictures="vm.pictures" append="vm.more" on-selected="vm.onSelected(picture)"></div>
   <button ng-if="vm.canGetMorePictures" ng-click="vm.getMorePictures()" >More...</button>
</div>

<div class="modal-footer">
    <button type="button"
        class="btn btn-success" 
        ng-click="vm.selectConfirm()"
        ng-disabled="!vm.selectedPicture"
        >
        Select
    </button>
    <button type="button"
        class="btn btn-default"
        modal-close>
        Cancel
    </button>
</div>
